*{
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    align-items: center;
}

.header a{
    margin: 20px;
    color: rgb(0, 0, 0, 0.85);
    font-size: 15px;
    text-decoration: none;
}

.header a:hover{
    text-decoration: underline;
}

.right{
    display: flex;
    align-items: center;
    min-width: 13vw;
    justify-content: space-between;
}

.right .apps{
    margin-right: 10px;
}

.main{
    flex: 1;
    display: flex;
    margin-top: 12%;
    flex-direction: column;
}

.main img{
    object-fit: contain;
    height: 100px;
}

.input{
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 999px;
    height: 30px;
    padding: 10px 20px;
    width: 75vw;
    margin: 0 auto;
    margin-top: 40px;
    max-width: 560px;
}

.input input{
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.input .material-icons{
    color: gray;
 
}

.searchBtn{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.searchBtn button{
    margin: 5px;
    padding: 10px 15px;
    background-color:#f8f8f8;
    outline: none;
    border: none;
    cursor: pointer;
}


